.App {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20' width='20' style='fill-rule:evenodd;text-rendering:geometricPrecision;image-rendering:optimizeQuality;clip-rule:evenodd;shape-rendering:geometricPrecision' xml:space='preserve' viewBox='0 0 7.5 7.5'%3E%3Cpath d='M0 3.8a3.7 3.7 0 1 1 7.5 0 3.7 3.7 0 0 1-7.5 0zm.5 0a3.3 3.3 0 1 0 6.6 0 3.3 3.3 0 0 0-6.6 0zm2.9 0c0 .2.2.3.4.3a.4.4 0 1 0-.4-.3z' style='fill:white;stroke:white;stroke-width:.0419595'/%3E%3C/svg%3E")
      10 10,
    pointer;
}

.Header {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.main-title {
  z-index: 10;
  font-family: $title-font-family;
  position: relative;
  color: white;
  margin-top: 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-title h1 {
  font-size: 4.4rem;
}

.second-title {
  font-family: $second-font-family;
  font-size: 3rem;
  margin-top: 3%;
}

.logo {
  position: relative;
  margin-top: 4%;
}

.pictures-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0%;
  left: 0%;
  justify-content: center;
  text-align: center;
  width: 100%;
  z-index: 0;
}

@media screen and (max-width: 640px) {
  .logo {
    width: 140px;
    position: relative;
    margin-top: 20%;
  }

  .main-title h1 {
    font-size: 3.8rem;
    padding: 0.2rem;
  }

  .second-title {
    font-family: $second-font-family;
    font-size: 2rem;
    margin-top: 3%;
  }
}

/*BOUTONS*/

.picture1 {
  background: url("src/assets/Picture-4-montagne_1920.png");
}

.picture2 {
  background: url("src/assets/Picture-2-plage_1920.png");
}

.picture3 {
  background: url("src/assets/Picture-1-festival_1920.png");
}

.picture4 {
  background: url("src/assets/Picture-3-culture_1920.png");
}

.picture1,
.picture2,
.picture3,
.picture4 {
  width: 50%;
  height: 51vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.row-picture {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}

.picture-button {
  @include mainBtn($white);
  position: absolute;
  z-index: 30;
}

.picture-button:hover {
  @include mainBtnHover($white);
  position: absolute;
  z-index: 30;
}

.btn {
  position: absolute;
  z-index: 30;
  width: 20px;
  font-size: 2rem;
}

@media screen and (max-width: 640px) {
  .button-container-1 {
    top: 55%;
  }

  .button-container-2 {
    left: 26%;
    top: 62%;
  }

  .button-container-3 {
    top: 69%;
  }

  .button-container-4 {
    left: 19%;
    top: 76%;
  }
}

/*DESCRIPTION*/
.description-all {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  border: 0;
  font-size: 100%;
  position: relative;
  z-index: 30;
  top: 60%;
  margin-top: 35%;
}

@media screen and (max-width: 640px) {
  .description-all {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    font-size: 100%;
    margin: 2% 0;
    position: relative;
    z-index: 30;
    top: 100%;
    margin-top: 110%;
    justify-content: flex-start;
  }
}

.description {
  padding: 0;
  outline: 0;
  width: 98%;
  font-family: $second-font-family;
  color: $purple;
}

.Actif,
.Festif,
.Culturel,
.Chill {
  display: inline-block;
  vertical-align: top;
  width: 70%;
  box-sizing: border-box;
  padding-left: 5%;
  font-size: 1.8rem;
}

@media screen and (max-width: 640px) {
  .Actif,
  .Festif,
  .Culturel,
  .Chill {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
  }

  .Mood {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.picto-voyager {
  height: 7rem;
  width: 7rem;
}

.voyager {
  font-family: $second-font-family;
  font-size: 2.5rem;
}
