@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Kite+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rampart+One&display=swap");
$title-font-family: "Rampart One", sans-serif;
$second-font-family: "Kite One", sans-serif;
$base-font-family: "Lato", sans-serif;

/* COLORS*/
$background-black: #0b1219;
$background-grey: #939393;
$background-light-grey: #d9d9d9;
$white: #ffffff;
$yellow: #a17f06;
$purple: #8e1099;
$blue: #1d6f9c;
$red: #740f0f;

/* BOUTON*/

@mixin mainBtn($color) {
  margin: 1.5rem auto;
  padding: 1.2rem;
  border-radius: 0.5rem;
  color: $color;
  border: 1px solid;
  border-color: $color;
  background: none !important;
  font-family: $second-font-family;
  line-height: 1;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
  font-weight: 800;
}
